{{#each items}}
    <strong>{{manufacturer}} {{model}}</strong>
    <ul>
        <li>Date                {{date}}</li>
        <li>Type                {{type}}</li>
        <li>Transformer         {{transformer}}</li>
        <li>Platform            {{platform}}</li>
        <li>CPU                 {{cpu}}</li>
        <li>Model CPU           {{modelCPU}}</li>
        <li>Core                {{core}}</li>
        <li>Clock Frequency     {{clockFrequency}}MHz</li>
        <li>Turbo Frequency     {{turboFrequency}}MHz</li>
        <li>TDT                 {{tdt}}Wt</li>
        <li>Color               {{color}}</li>
        <li>Width               {{width}}mm</li>
        <li>Depth               {{depth}}mm</li>
        <li>Thickness           {{thickness}}mm</li>
        <li>Weight              {{weight}}g</li>
        <li>Diagonal            {{diagonal}}"</li>
        <li>Screen Resolution   {{screenResolution}}</li>
        <li>Type RAM            {{typeRAM}}</li>
        <li>RAM                 {{ram}}</li>
        <li>Type HD             {{typeHD}}</li>
        <li>Size HD             {{sizeHD}}</li>
        <li>Graphics Card       {{graphicsCard}}</li>
        <li>OS                  {{os}}</li>
    </ul>
{{/each}}