
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><strong>{{manufacturer}} {{model}}</strong></div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Date</div>             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{date}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Type</div>             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{type}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Transformer</div>      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{transformer}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Platform</div>         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{platform}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">CPU</div>              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{cpu}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Model CPU</div>        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{modelCPU}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Core</div>             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{core}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Clock Frequency</div>  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{clockFrequency}}MHz</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Turbo Frequency</div>  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{turboFrequency}}MHz</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">TDT</div>              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{tdt}}Wt</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Color</div>            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{color}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Width</div>            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{width}}mm</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Depth</div>            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{depth}}mm</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Thickness</div>        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{thickness}}mm</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Weight</div>           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{weight}}g</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Diagonal</div>         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{diagonal}}"</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Screen Resolution</div><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{screenResolution}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Type RAM</div>         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{typeRAM}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">RAM</div>              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ram}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Type HD</div>          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{typeHD}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Size HD</div>          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{sizeHD}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Graphics Card</div>    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{graphicsCard}}</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">OS</div>               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{os}}</div>
