<div class="container" id="product">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <strong><a href=" " class="link-item">Home page</a></strong>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-header" >
        <h1><strong><img  src="{{img0}}">{{manufacturer}} {{model}}</strong></h1>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <img src="{{img1}}">
    </div>
    <div id="details" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Date</div>             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{date}}</div>                 </div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Type</div>             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{type}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Transformer</div>      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{transformer}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Platform</div>         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{platform}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">CPU</div>              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{cpu}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Model CPU</div>        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{modelCPU}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Core</div>             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{core}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Clock Frequency</div>  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{clockFrequency}}MHz</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Turbo Frequency</div>  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{turboFrequency}}MHz</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">TDT</div>              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{tdt}}Wt</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Color</div>            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{color}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Width</div>            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{width}}mm</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Depth</div>            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{depth}}mm</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Thickness</div>        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{thickness}}mm</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Weight</div>           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{weight}}g</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Diagonal</div>         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{diagonal}}"</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Screen Resolution</div><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{screenResolution}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Type RAM</div>         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{typeRAM}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">RAM</div>              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{ram}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Type HD</div>          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{typeHD}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Size HD</div>          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{sizeHD}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">Graphics Card</div>    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{graphicsCard}}</div></div>
        <div class="detail col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">OS</div>               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">{{os}}</div></div>

    </div>
</div>
